# Sample audx configuration file.
# https://github.com/glevand/audx
#

collection_top="${collection_top:-${HOME}/music-collection}"
favorites_top="${favorites_top:-${HOME}/music-collection/favorites}"
